
<div class="note-container">
<div class="actions">
  <p>  Notes </p>
  <%= link_to "Add New Note", new_note_path %>
</div>

<div id="show_tag">
<% @notes.each do |note| %>

    <p> <%= link_to note.title, note %> <%= note.created_at.strftime("%B %d, %Y") %> </p>

<% end %>
</div>
</div>
