<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Well, <%= @user.email %>, seems you have forgotten your password.</h1>
<p>
 Don't worry, it happens all the time.
  <br>
</p>
<p>
 <%= link_to  'To reset your password, just follow this link', @link %>.
</p>
</body>
</html>