<div id="profile-container">
     <table>
       <th>
         <h2>User Profile</h2>
       </th>
       <tr>
         <td>
           Email:
         </td>
         <td>
           <% if current_user %>
           <%= current_user.email %>
         <%end  %>
               </td>
       </tr>
       <tr>
         <td>

         </td>
       </tr>
     </table>
</div>