<div id="content1">
  <div id="content_container">

    <!--  1/3 x 2/3 -->
    <div class="one_third">
      <p> Welcome to Lobb, the Rails application for Lobbyists.</p>

      <p>Lobb is a daily tool for Lobbyists. Supplying the ability to track important legislation, keep notes on the fly
        and record important contacts,
        Lobb provides a unified tool for organization. Built on Rails 4, the Application will continue to evolve over
        the coming months with input
        from actual practitioners.</p>

      <p> Feel free to leave any feature requests under the "feature request" link. The code can be found on github at
        the link below.</p>
    </div>
  </div>
</div>







