<div class="text">
  <p> Welcome to LOBB, the Rails application for Lobbyists.</p>

  <p>Over the next few months, this app will be built out to provide
    tools for Lobbyists in their day to day tasks around the capital.</p>

  If you have any questions, please don’t hesitate to contact me at the provided email link.
  Additionally, please feel free to add feature requests through the Feature Request link.
</div>

<div id="nav_container">

  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/feature_requests">Feature Requests</a></li>
    <li><a href="/notes">Note Pad</a></li>
  </ul>
</div>