<header>
  <div id="header_container">
    <div id="header_logo">

    </div>
    <!--end header_logo-->
  </div>
  <!--end header-->
</header>

<div><p>Welcome, <%= @user.email if !@user.nil? %>!</p></div>
<nav>
  <div id="nav_container">

    <ul id="menu">
      <li><a href="/about">About</a></li>
      <li><a href="/feature_requests">Feature Requests</a></li>
      <li><a href="/notes">Note Pad</a></li>
    </ul>
  </div>
  <!--end navigation-->
</nav>

<div class="user">
  <p><a href="/users">Register</a></p>

</div>
<!--end user link-->
