

<body>

<header>
  <div id="header_container">
    <div id="header_logo">

    </div><!--end header_logo-->
  </div><!--end header-->
</header>

<nav>
  <div id="nav_container">

    <ul id="menu">
      <li><a href="/about">About</a></li>
      <li><a href="#">Feature Requests</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div><!--end navigation-->
</nav>
