---
http_interactions:
- request:
    method: get
    uri: http://api.legiscan.com/?bill=HB1030&key=<LEGISCAN>&op=getBill&state=CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","bill":{"bill_id":579978,"change_hash":"f783d121f810bcc576ba2372b6eaf1f4","session":{"session_id":1077,"session_name":"2014
        Regular Session"},"url":"http:\/\/legiscan.com\/CO\/bill\/HB1030\/2014","state_link":"http:\/\/www.leg.state.co.us\/clics\/clics2014a\/csl.nsf\/fsbillcont2\/6463D7584236949F87257C3000062211?Open","completed":0,"status":3,"status_date":"2014-04-30","progress":[{"date":"2014-01-08","event":1},{"date":"2014-01-08","event":9},{"date":"2014-02-05","event":10},{"date":"2014-02-05","event":9},{"date":"2014-02-17","event":2},{"date":"2014-02-17","event":9},{"date":"2014-03-13","event":10},{"date":"2014-03-13","event":9},{"date":"2014-04-30","event":3}],"state":"CO","state_id":6,"bill_number":"HB1030","bill_type":"B","body":"H","body_id":21,"current_body":"H","current_body_id":21,"title":"Hydroelectric
        Generation Incentive","description":"Hydroelectric Generation Incentive","committee":[],"history":[{"date":"2014-01-08","action":"Introduced
        In House - Assigned to Transportation & Energy","chamber":"H","chamber_id":21,"importance":1},{"date":"2014-02-05","action":"House
        Committee on Transportation & Energy Refer Amended to House Committee of the
        Whole","chamber":"H","chamber_id":21,"importance":1},{"date":"2014-02-10","action":"House
        Second Reading Laid Over Daily - No Amendments","chamber":"H","chamber_id":21,"importance":0},{"date":"2014-02-12","action":"House
        Second Reading Passed with Amendments - Committee, Floor","chamber":"H","chamber_id":21,"importance":0},{"date":"2014-02-13","acti[...]
- request:
    method: get
    uri: http://api.legiscan.com/?key=<LEGISCAN>&op=getSessionList&state=CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","sessions":[{"session_id":1077,"name":"2014 Regular
        Session"},{"session_id":994,"name":"2013 Regular Session"},{"session_id":925,"name":"2012
        Regular Session"},{"session_id":111,"name":"2011 Regular Session"},{"session_id":68,"name":"2010
        Regular Session"}]}'
  recorded_at: Wed, 02 Jul 2014 05:36:02 GMT
- request:
    method: get
    uri: http://api.legiscan.com/?id=1077&key=<LEGISCAN>&op=getMasterList
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","masterlist":{"session":{"session_id":1077,"session_name":"2014
        Regular Session"},"0":{"bill_id":579236,"number":"HB1001","change_hash":"4622b1b97c4c976c4c7935a975b8eb85","url":"http:\/\/legiscan.com\/CO\/bill\/HB1001\/2014","status_date":"2014-05-17","status":"4","last_action_date":"2014-05-17","last_action":"Governor
        Signed","title":"Tax Credit For Prop Destroyed By A Natural Cause","description":"Tax
        Credit For Prop Destroyed By A Natural Cause"},"1":{"bill_id":579224,"number":"HB1002","change_hash":"5e38154d3d8f19e3700deae2fdc3b41c","url":"http:\/\/legiscan.com\/CO\/bill\/HB1002\/2014","status_date":"2014-05-17","status":"4","last_action_date":"2014-05-17","last_action":"Governor
        Signed","title":"Water Infrastructure Natural Disaster Grant Fund","description":"Water
      [...]
- request:
    method: get
    uri: http://api.legiscan.com/?id=579978&key=<LEGISCAN>&op=getBill
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","bill":{"bill_id":579978,"change_hash":"8e332ff853b54f0022d06e7e10b2119b","session":{"session_id":1077,"session_name":"2014
        Regular Session"},"url":"htt[...]
[...]
