---
http_interactions:
- request:
    method: get
    uri: http://api.legiscan.com/?bill=HB1030&key=%3CLEGISCAN%3E&op=getBill&state=CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <legiscan><status>ERROR</status><alert><message>Invalid API key format -- 172.56.8.232 -- /?bill=HB1030&amp;key=%3CLEGISCAN%3E&amp;op=getBill&amp;state=CO</message></alert></legiscan>
  recorded_at: Tue, 03 Jun 2014 14:28:41 GMT
recorded_with: VCR 2.9.2
