---
http_interactions:
- request:
    method: get
    uri: http://api.legiscan.com/?bill=HB1030&key=<LEGISCAN>&op=getBill&state=CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","bill":{"bill_id":579978,"change_hash":"f783d121f810bcc576ba2372b6eaf1f4","session":{"session_id":1077,"session_name":"2014
        Regular Session"},"url":"http:\/\/legiscan.com\/CO\/bill\/HB1030\/2014","state_link":"http:\/\/www.leg.state.co.us\/clics\/clics2014a\/csl.nsf\/fsbillcont2\/6463D7584236949F87257C3000062211?Open","completed":0,"status":3,"status_date":"2014-04-30","progress":[{"date":"2014-01-08","event":1},{"date":"2014-01-08","event":9},{"date":"2014-02-05","event":10},{"date":"2014-02-05","event":9},{"date":"2014-02-17","event":2},{"date":"2014-02-17","event":9},{"date":"2014-03-13","event":10},{"date":"2014-03-13","event":9},{"date":"2014-04-30","event":3}],"state":"CO","state_id":6,"bill_number":"HB1030","bill_type":"B","body":"H","body_id":21,"current_body":"H","current_body_id":21,"title":"Hydroelectric
        Generation Incentive","description":"Hydroelectric Generation Incentive","committee":[],"history":[{"date":"2014-01-08","action":"Introduced
        In House - Assigned to Transportation & Energy","chamber":"H","chamber_id":21,"importance":1},{"date":"2014-02-05","action":"House
        Committee on Transportation & Energy Refer Amended to House Committee of the
        Whole","chamber":"H","chamber_id":21,"importance":1},{"date":"2014-02-10","action":"House
        Second Reading Laid Over Daily - No Amendments","chamber":"H","chamber_id":21,"importance":0},{"date":"2014-02-12","action":"House
        Second Reading Passed with Amendments - Committee, Floor","chamber":"H","chamber_id":21,"importance":0},{"date":"2014-02-13","acti[...]
