
.row {
  margin-left: 29px;
}

#show_tag {
  border: 1px solid black;
  min-height: 25em;
  background: lightgrey;
  width: 50%;
  opacity: .9;
}

.errors {
  background-color: mintcream;
}

#user {
  color: black;
}
.dashboard_container{
  min-height: 50em;
}

.intro_text {
  font-family: 'Cinzel', serif;
  color: inherit;

}
.jumbotron{
  background: image-url("capitol_vd_bobash.jpg") no-repeat center center fixed;

}

.col-md-4 .dashboard {
  font-family: 'Cinzel', serif;
  min-height: 50em;
  display: inline_block;
  margin: 2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

}