
.row {
  margin-left: 29px;
}

.errors {
  background-color: mintcream;
}

#user {
  color: black;
}

.dashboard_container {
  min-height: 50em;
}

.intro_text {
  font-family: 'Cinzel', serif;
  color: inherit;

}

.jumbotron {
  background: image-url("capitol_vd_bobash.jpg") no-repeat center center fixed;
}

.col-md-4 .dashboard {
  font-family: 'Cinzel', serif;
  min-height: 50em;
  display: inline_block;
  margin: 2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}