.errors {
  background-color: mintcream;
}

#user {
  color: black;
}

.dashboard_container {
  min-height: 50em;
}

.intro_text {
  font-family: 'Cinzel', serif;
  color: inherit;

}

.jumbotron {
  background-color: lightgrey;
}

.col-md-4 .dashboard {
  font-family: 'Cinzel', serif;
  min-height: 50em;
  display: inline_block;
  margin: 2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.evernote {
  img {
    height: 3em;
    margin-left: 13em;
    margin-top: -6em;
  }
  .evernote-text {
    display: block
  }
}

@media screen and (min-width: 700px) {
  .evernote {
    img {
      height: 5em;
      margin-left: 17em;
      margin-top: -6em;
    }
    .evernote-text {
      display: inline-block
    }
  }
}
