
@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

.feature_text{
  float: right;
  margin-top: -21em;
  margin-right: 23em;
  font-family: 'Antic Slab', serif;
  font-size: 15px;
}
#features{
  width: 40%;
}