

#welcome-page-container{
  background: image-url("capitol_vd_bobash.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}
/* CSS used here will be applied after bootstrap.css */

@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html,body {
  height:100%;
}

.logo_lead {
  font-family: 'Antic Slab', serif;
  font-size:100px;
  color:#3D66B8;
}

.lead {
  color:#DDCCEE;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  color:#eee;
  background: image-url("capitol_vd_bobash.jpg") no-repeat center center fixed;
  background-size: cover;

  overflow:hidden;
}
.logo_container{
  height: 5em;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:20%;
}
