
.row {
  margin-left: 29px;
}

.note-container {
  padding-top: 25px;
}

#show_tag {
  border: 1px solid black;
  min-height: 25em;
  background: lightgrey;
  width: 50%;
  opacity: .9;
}

.errors{
  background-color: mintcream;
}
#user{
  color: black;
}