<form action="/feature_requests" method="post">

  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <TEXTAREA name="feature"
            placeholder="Please add your feature requests here.  The list will be kept below this text box."
            ROWS="15" COLS="25">
  </TEXTAREA>
  <input type="submit" value="Add Feature Request">
</form>

<div class="features">
  <% @features.each do |feature| %>
      <%= feature[:feature] %>
  <% end %>


</div>

