<form action="/feature_requests" method="post">

  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <TEXTAREA name="feature"
            placeholder="Please add your feature requests here.  The list will be kept below this text box."
            ROWS="15" COLS="25">
  </TEXTAREA>
  <input type="submit" value="Add Feature Request">
</form>

<div id="features">
  <% @features.each do |feature| %>
      <%= feature[:feature] %>
  <% end %>
</div>

<div id="nav_container">

  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/feature_requests">Feature Requests</a></li>
    <li><a href="/notes">Note Pad</a></li>
  </ul>
</div>

