<h2> Forgotten your Password?</h2>
<p>No problem, just give us your email and we will send you a link to reset your password.</p>

<%= form_tag reset_passwords_path, method: :post %>
<%= label_tag :email %>
<%= text_field_tag :email %>
<%= submit_tag 'Reset Password' %>